absl-py==1.2.0
aeidon==1.11
alabaster==0.7.12
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==20.1.0
arrow==1.1.1
asgiref==3.4.1
astroid==2.6.6
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
Authlib==0.15.4
autobahn==21.2.2
Automat==20.2.0
awscli==1.22.50
Babel==2.9.1
backcall==0.1.0
basemap==1.2.1
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.0
binaryornot==0.4.4
biopython==1.79
black==22.3.0
bleach==4.0.0
blessings==1.7
blivet==3.4.4
blivet-gui==2.3.0
bodhi==5.7.5
bodhi-client==6.0.0
botocore==1.23.50
bottle==0.12.21
Bottleneck==1.3.2
bpython==0.22.1
breezy==3.2.1
Brlapi==0.8.2
Brotli==1.0.9
buildbot==3.3.0
buildbot-badges==3.3.0
buildbot-console-view==3.3.0
buildbot-grid-view==3.3.0
buildbot-waterfall-view==3.3.0
buildbot-worker==3.3.0
buildbot-wsgi-dashboards==3.3.0
buildbot-www==3.3.0
cached-property==1.5.2
cachetools==5.2.0
cairocffi==1.3.0
CairoSVG==2.5.2
Cartopy==0.20.3
catfish==4.16.4
CCColUtils==1.5
CDApplet==1.0
CDBashApplet==1.0
certifi==2020.12.5
cffi==1.15.0
cftime==1.5.0
chardet==4.0.0
charset-normalizer==2.0.4
Cheetah3==3.2.4
cheroot==8.5.2
CherryPy==18.6.1
chrome-gnome-shell==0.0.0
click==8.0.1
cloudpickle==1.6.0
cobbler==3.2.2
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
construct==2.10.68
contextlib2==0.6.0.post1
cookiecutter==2.1.1
coverage==5.6b1
coveralls==3.2.0
cptrace==0.6.1
cryptography==3.4.7
cson==0.8
cssselect2==0.3.0
cupshelpers==1.0
curtsies==0.3.5
cvxopt==1.2.8
cwcwidth==0.1.4
cycler==0.10.0
Cython==0.29.24
dasbus==1.6
dblatex==0.3.12
dbus-python==1.2.18
decorator==5.0.9
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.2
distro==1.6.0
Django==3.2.12
dm-tree==0.1.7
dnspython==2.1.0
docker==5.0.2
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerfile-parse==1.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dulwich==0.20.23
eccodes==1.4.2
ecdsa==0.17.0
empy==3.3.4a0
entrypoints==0.3
ephem==3.7.7.1
fail2ban==0.11.2
fastcache==1.1.0
fedora-third-party==0.8
fedpkg==1.42
feedparser==6.0.6
file-magic==0.4.0
filelock==3.3.1
flaky==3.7.0
flatbuffers==2.0.7
fluidity-sm==0.2.0
fonttools==4.26.1
fros==1.1
fs==2.4.11
fusepy==2.0.4
future==0.18.2
gast==0.4.0
GDAL==3.3.3
git-cola==3.11.0
gitdb==4.0.5
GitPython==3.1.14
gmpy2==2.1.2
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.15.1
gps==3.23.1
greenlet==1.1.1
grpcio==1.49.0
gssapi==1.6.14
h5py==3.4.0
helpdev==0.6.10
hgapi==1.7.4
hgsvn==0.6.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.20.2
humanize==0.5.1
husl==4.0.3
hyperlink==21.0.0
idna==3.2
imagesize==1.2.0
importlib-metadata==4.6.3
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
iniparse==0.4
initial-setup==0.3.93
intervaltree==3.1.0
invoke==1.7.0
iotop==0.6
ipykernel==5.5.0
ipython==7.26.0
ipython_genutils==0.1.0
isodate==0.6.1
isort==5.9.3
jaraco.classes==3.2.1
jaraco.collections==3.0.0
jaraco.functools==3.3.0
jaraco.text==3.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kerberos==1.3.0
keyring==23.5.0
kitchen==1.2.6
kiwisolver==1.4.1
klein==20.6.0
koan==2.9.0
koji==1.29.1
langtable==0.0.58
latexcodec==2.0.1
lazy-object-proxy==1.6.0
ldap3==2.8.1
lexicon==2.0.1
lib389==1.4.0.1
libclang==14.0.6
libcomps==0.1.18
libsass==0.20.0
libvirt-python==7.6.0
lightdm-gtk-greeter-settings==1.2.2
LinkChecker==10.1.0
lockfile==0.12.2
lxml==4.6.5
lz4==3.0.2
m2r==0.2.1
maildirproc==1.0.1
Mako==1.1.4
manuel==1.10.1
Markdown==3.3.7
markdown2==2.4.3
MarkupSafe==2.0.0
mate-menu==20.4.1
matplotlib==3.5.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==5.9.3
meson==0.62.2
mistune==0.8.4
mmtf-python==1.1.2
mod-wsgi==4.9.0
more-itertools==8.12.0
mpmath==1.2.1
msgpack==1.0.3
munch==2.5.0
munkres==1.1.2
mypy==0.942
mypy-extensions==0.4.3
mysql-connector-python==8.0.21
mysqlclient==1.4.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.0.8
nest-asyncio==1.4.3
netaddr==0.8.0
netCDF4==1.5.6
netifaces==0.10.6
networkx==2.6.3
nftables==0.1
nose==1.3.7
nose-cover3==0.1.0
nose-testconfig==0.10
notebook==6.4.0
numexpr==2.8.1
numpy==1.21.5
numpydoc==1.1.0
oauthlib==3.2.1
offlineimap==7.3.0
olefile==0.46
onboard==1.4.1
openidc-client==0.7.0
openoffice-python==0.1.post20110209
openshot-qt==2.6.1.dev0
opt-einsum==3.3.0
osbs-client==1.11.0
OWSLib==0.21.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.2
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==3.2.1
pathspec==0.9.0
pathtools==0.1.2
patiencediff==0.2.2
patsy==0.5.2
pbr==5.6.0
pcp==5.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
pika==1.2.1
Pillow==8.3.2
platformdirs==2.2.0
pluggy==0.13.1
ply==3.11
Pmw==2.0.0
podman-compose==1.0.3
portend==2.7.1
powerline-status==2.8.3
poyo==0.5.0
productmd==1.33
profilehooks==1.12.0
progressbar2==3.53.2
prometheus-client==0.13.1
prompt-toolkit==3.0.24
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.9.1
ptyprocess==0.6.0
pwquality==1.4.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeam==0.7
pybufr-ecmwf==0.83.dev0
pycairo==1.20.1
pycountry==20.7.3
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.44.1
pyenchant==3.2.2
pygame==2.1.2
pygit2==1.6.1
pyglet==1.5.16
Pygments==2.9.0
PyGObject==3.42.0
pygraphviz==1.7
pygrib==2.1.4
pyinotify==0.9.6
PyJWT==2.4.0
pyke==1.1.1
pykickstart==3.34
pylint==2.9.6
pyls-spyder==0.4.0
pymol==2.5.0
pymongo==3.10.1
Pympler==1.0.1
PyNaCl==1.4.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
pyproj==3.3.1
PyQt4_sip==4.19.25
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtChart==5.15.2
PyQtWebEngine==5.15.2
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
pyrsistent==0.18.1
pyserial==3.4
pyshp==2.3.1
PySide2==5.15.2
PySocks==1.7.1
pytest==6.2.4
pytest-cov==3.0.0
pytest-timeout==1.4.2
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-fedora==1.1.1
python-gettext==4.0
python-hglib==2.6.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-ldap==3.3.1
python-Levenshtein==0.12.0
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.2
python-manatools==0.0.3
python-meh==0.50
python-pam==1.8.4
python-ptrace==0.9.8
python-slugify==4.0.1
python-utils==2.5.6
python-xapp==2.2.1
python-xlib==0.31
pytz==2022.1
pyudev==0.22.0
PyX==0.15
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
pyzor==1.1.1
QDarkStyle==3.0.2
QScintilla==2.13.0
qstylizer==0.2.0
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.11.2
qtsass==0.3.0
rabbitvcs==0.18
rdflib==5.0.0
rdiff-backup==2.0.5
Recoll==1.31.6
recollchm==0.8.4.1+git
rencode==1.0.6
reportlab==3.6.10
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-oauthlib==1.3.1
rope==0.18.0
rpkg==1.64
rpm==4.17.1
rpmautospec==0.3.0
rpmlint==2.2.0
rpy2==3.4.5
rsa==4.8
rss2email==3.12.3
Rtree==0.9.4
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
rubber==1.5.1
s3cmd==2.2.0
s3transfer==0.5.1
scapy===git-archive.dev8b63d73a17
schema==0.7.3
scikit-learn==1.0
scipy==1.8.0
SCons==4.2.0
scour==0.38.1
seaborn==0.11.1
SecretStorage==3.3.1
selenium==3.14.0
selinux==3.3
Send2Trash==1.7.1
sepolicy==3.3
setools==4.4.0
setproctitle==1.2.2
setroubleshoot==1.1
sgmllib3k==1.0.0
Shapely==1.7.1
shiboken2==5.15.2
simpleaudio==1.0.4
simplejson==3.17.2
simpleline==1.8.2
singledispatch==3.4.0.3
six==1.16.0
smmap==3.0.1
snowballstemmer==1.9.0
sortedcontainers==2.4.0
sos==4.2
soundconverter==4.0.3
soupsieve==2.3.1
speg==0.3
Sphinx==4.1.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.1.5
spyder-kernels==2.1.1
SQLAlchemy==1.4.40
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
statsmodels==0.13.2
subvertpy==0.10.1
sympy==1.9
systemd-python==234
tables==3.6.1
Tempita==0.5.2
templated-dictionary==1.1
tempora==4.1.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-probability==0.18.0
termcolor==2.0.1
terminado==0.10.1
terminator==2.1.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.0
texttable==1.6.2
Theano-PyMC==1.1.2
thonny==3.3.14
threadpoolctl==2.0.0
three-merge==0.1.1
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.3
tornado==6.1
tortoisehg==5.9.3
tox==3.25.1
tqdm==4.64.0
traitlets==5.0.5
translate-toolkit==3.6.1
Tubes==0.2.0
Twisted==22.4.0
txaio==21.2.1
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzlocal==2.1
ujson==5.4.0
Unidecode==1.2.0
urllib3==1.26.7
urwid==2.1.2
veusz==3.4
virtualenv==20.13.4
vobject==0.9.6.1
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.1
wrapt==1.12.1
wurlitzer==1.0.3
wxGlade==1.0.4
wxPython==4.0.7
xarray==2022.6.0
xcffib==0.11.1
xlrd==2.0.1
xpra==4.3.4
youtube-dl==2021.12.17
zc.lockfile==2.0
zim==0.74.3
zipp==3.5.0
zope.event==4.2.0
zope.interface==5.4.0
zstd==1.4.5.1
